<div class="row">
  <div class="col"></div>
  <div class="col-md-4">
    <center><h2>Log in</h2></center>
    <hr>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label "Callsign or Email Address" %>
        <%= f.text_field :login, class: "form-control", autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
        <small class="form-text text-muted">Forgot password? <%= link_to "Click here", new_user_password_path %></small>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <label class="form-check-label">
            <%= f.check_box :remember_me, class: "form-check-input" %> Remember me
          </label>
        </div>
      <% end -%>

      <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
    <% end %>
    <hr>
    <p class="small">Don't have an account yet? Create one <%= link_to "here", register_path %></p>

  </div>
  <div class="col"></div>
</div>
