<% index = item_counter + 0 %>
<tr>
  <td style="width:5%"><%= index+1 %></td>
  <td><%= item.name %></td>
  <td style="width:15%"><%= number_to_currency(item.default_price, unit: "RM") %></td>
  <td style="width:14%" id="item-status_<%= item.id %>"><span class="badge badge-secondary"><%= item.quantity %></span> <%= check_stock item %></td>
  <td style="width:10%">
    <%= render partial: "item_stock", locals: {:item => item} %>
  </td>
</tr>
