<% index = article_counter + 0 %>
<tr>
  <td style="width:5%"><%= index+1 %></td>
  <td><%= article.title %></td>
  <td style="width:10%"><%= article.user.callsign.upcase %></td>
  <td id="article-state_<%= article.id %>" style="width:10%"><%= check_article_status article %></td>
  <td id="article-status_<%= article.id %>" style="width:10%">
    <%= render partial: "article_status", locals: {:article => article} %>
  </td>
  <td style="width:15%">
    <div class="btn-group btn-group-sm">
      <%= link_to edit_admin_article_path(article), class: "btn btn-primary" do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
      <%= link_to admin_article_path(article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </div>
    <%= link_to article_path(article), class: "btn btn-secondary btn-sm" do %>
      <i class="fa fa-share" aria-hidden="true"></i> view
    <% end %>
  </td>
</tr>
