<% if @article.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong><%= pluralize(@article.errors.count, "error") %> prohibited this user from being saved:</strong>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control", required: true %>
</div>

<div class="form-group">
  <%= f.label :category_id %>
  <%= f.collection_select :category_id, Category.order(:name), :id, :name, {include_blank: "Please choose"}, :class => "form-control", required: true %>
  <small class="form-text text-muted">Missing category? Add new <%= link_to "here", admin_categories_path %></small>
</div>

<div class="form-group">
  <%= f.label :default_picture %>
  <% if @article.try(:default_picture?) %>
  <p>
    <%= image_tag(@article.default_picture_url(:headline), class: "img-fluid") %>
  </p>
  <% end %>
  <%= f.file_field :default_picture, :class => "form-control-file" %>
  <%= f.hidden_field :default_picture_cache %>
  <small class="form-text text-muted">For best result, please upload only 1110px * 444px</small>
</div>

<div class="form-group">
  <%= f.label :content %>
  <%= f.cktext_area :content, class: "form-control", rows: 6, required: true %>
</div>

<div class="actions">
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <%= link_to "Cancel", admin_articles_path, class: "btn btn-default" %>
</div>
