<% content_for :meta_tags do %>
  <%= render :partial => 'application/meta_tags',
             :locals => {
               :type => "article",
               :title => "KLDX | Kuala Lumpur DX Team",
               :url => request.url,
               :description => "Kuala Lumpur DX Team Group Activists are moving on Amateur Radio activity especially contesting, IOTA, Field Day, and also Emergency Communication",
               :canonical => request.url,
               :og_title => "KLDX | Kuala Lumpur DX Team",
               :og_description => "Kuala Lumpur DX Team Group Activists are moving on Amateur Radio activity especially contesting, IOTA, Field Day, and also Emergency Communication",
               :og_image => "#{image_url('logo.png')}",
               :article_author => "https://www.facebook.com/kldxteam"
            } %>
<% end %>

<div class="card-deck" style="margin-bottom:20px;">
  <div class="card">
    <%= image_tag "crews/9m2ais.jpg", class: "card-img-top" %>
    <div class="card-body">
      <center><h4 class="card-title">9M2AIS / W9AIS</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Faiz Shaari</small></center>
    </div>
  </div>
  <div class="card">
    <%= image_tag "crews/9m2ooo.jpg", class: "card-img-top" %>
    <div class="card-body">
      <center><h4 class="card-title">9M2OOO / NI2K</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Khairol Afendy</small></center>
    </div>
  </div>
  <div class="card">
    <%= image_tag "crews/9m2vdx.jpg", class: "card-img-top" %>
    <div class="card-body">
      <center><h4 class="card-title">9M2VDX / N7WAN</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Ahmad Ridzuan</small></center>
    </div>
  </div>
  <div class="card">
    <%= image_tag "crews/9m2rol.jpg", class: "card-img-top" %>
    <div class="card-body">
      <center><h4 class="card-title">9M2ROL / K2ROL</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Amirol Ahmad</small></center>
    </div>
  </div>
</div>

<div class="card-deck" style="margin-bottom:20px;">
  <div class="card">
    <%= image_tag "crews/9m2agc.jpg", class: "card-img-top" %>
    <div class="card-body">
      <center><h4 class="card-title">9M2AGC / AI6LB</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Azlan Aziz</small></center>
    </div>
  </div>
  <div class="card">
    <%= image_tag "crews/9m2jep.jpg", class: "card-img-top" %>
    <div class="card-body">
      <center><h4 class="card-title">9M2JEP</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Mohd Jefri</small></center>
    </div>
  </div>
  <div class="card">
    <%= image_tag "crews/9m2ude.jpg", class: "card-img-top" %>
    <div class="card-body">
      <center><h4 class="card-title">9M2UDE</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Azrishah</small></center>
    </div>
  </div>
  <div class="card">
    <%= image_tag "crews/9m2odx.jpg", class: "card-img-top" %>
    <div class="card-body">
      <center><h4 class="card-title">9M2ODX</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Muhammad Badruddin</small></center>
    </div>
  </div>
</div>

<div class="card-deck" style="margin-bottom:20px;">
  <div class="card">
    <%= image_tag "crews/9m2zdx.jpg", class: "card-img-top" %>
    <div class="card-body">
      <center><h4 class="card-title">9M2ZDX / N3ZAC</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Zakir Hassan</small></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="holder.js/100px180/" alt="Card image cap">
    <div class="card-body">
      <center><h4 class="card-title">9M2FDO</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Fadli Idwan</small></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="holder.js/100px180/" alt="Card image cap">
    <div class="card-body">
      <center><h4 class="card-title">9M2FZK</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Fazzuan Zekri</small></center>
    </div>
  </div>
  <div class="card">
    <%= image_tag "crews/9m2kev.jpg", class: "card-img-top" %>
    <div class="card-body">
      <center><h4 class="card-title">9M2KEV</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Ong Gim Huat</small></center>
    </div>
  </div>
</div>

<div class="card-deck" style="margin-bottom:20px;">
  <div class="card">
    <img class="card-img-top" src="holder.js/100px180/" alt="Card image cap">
    <div class="card-body">
      <center><h4 class="card-title">9M2AUR</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Muhammad Aimil</small></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="holder.js/100px180/" alt="Card image cap">
    <div class="card-body">
      <center><h4 class="card-title">9M2EME</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Hishamuddin</small></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="holder.js/100px180/" alt="Card image cap">
    <div class="card-body">
      <center><h4 class="card-title">9M2EDU</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Mohd Ikmal</small></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="holder.js/100px180/" alt="Card image cap">
    <div class="card-body">
      <center><h4 class="card-title">9M2AWU</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Khairul Redzuan</small></center>
    </div>
  </div>
</div>

<div class="card-deck" style="margin-bottom:20px;">
  <div class="card">
    <img class="card-img-top" src="holder.js/100px180/" alt="Card image cap">
    <div class="card-body">
      <center><h4 class="card-title">9W2XQX</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Mohd Azlan</small></center>
    </div>
  </div>
  <div class="card">
    <%= image_tag "crews/9w2bfz.jpg", class: "card-img-top" %>
    <div class="card-body">
      <center><h4 class="card-title">9W2BFZ</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Muhamad Faiz</small></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="holder.js/100px180/" alt="Card image cap">
    <div class="card-body">
      <center><h4 class="card-title">9W2BMW</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Ahmad Alawi</small></center>
    </div>
  </div>
  <div class="card">
    <%= image_tag "crews/9w2for.jpg", class: "card-img-top" %>
    <div class="card-body">
      <center><h4 class="card-title">9W2FOR</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Fauzan Omar</small></center>
    </div>
  </div>
</div>

<div class="card-deck" style="margin-bottom:20px;">
  <div class="card">
    <img class="card-img-top" src="holder.js/100px180/" alt="Card image cap">
    <div class="card-body">
      <center><h4 class="card-title">9W2NMX</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Zambri Omar</small></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="holder.js/100px180/" alt="Card image cap">
    <div class="card-body">
      <center><h4 class="card-title">9W2NSV</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Nasir Alwi</small></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="holder.js/100px180/" alt="Card image cap">
    <div class="card-body">
      <center><h4 class="card-title">9W2YND</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Sahidan Abdullah</small></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="holder.js/100px180/" alt="Card image cap">
    <div class="card-body">
      <center><h4 class="card-title">9W2XNC</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Abdul Hakim</small></center>
    </div>
  </div>
</div>

<div class="card-deck" style="margin-bottom:20px;">
  <div class="card">
    <img class="card-img-top" src="holder.js/100px180/" alt="Card image cap">
    <div class="card-body">
      <center><h4 class="card-title">9M2AIM</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Mohd Naswan</small></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="holder.js/100px180/" alt="Card image cap">
    <div class="card-body">
      <center><h4 class="card-title">9M2RIE / KD9EKB</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Amry Amudi</small></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="holder.js/100px180/" alt="Card image cap">
    <div class="card-body">
      <center><h4 class="card-title">9W2BMX</h4></center>
    </div>
    <div class="card-footer">
      <center><small class="text-muted">Azman</small></center>
    </div>
  </div>
</div>
