<!-- Carousel -->
<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <% @banners.each_with_index do |banner,index| %>
      <div class="carousel-item <%='active' if index == 0 %>">
        <%= image_tag banner.default_picture_url(:header), class: "d-block w-100" %>
        <div class="carousel-caption d-none d-md-block">
          <h3><%= banner.title %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        Quote
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>When Everything Else Fails. Amateur Radio often times is our last line of defense...When you need amateur radio, you really need them.</p>
          <footer class="blockquote-footer">The Hon. W. Craig Fugate from <cite title="from">US Department of Homeland Security, FEMA</cite></footer>
        </blockquote>
      </div>
    </div>
    <hr>
    <% @articles.each do |article| %>
      <div class="article d-flex align-content-start flex-wrap">
        <h2><%= article.title %></h2>
        <p><small class="text-muted">Submitted by <i class="fa fa-user-circle"></i> <%= article.user.callsign.upcase %> on <i class="fa fa-calendar"></i> <%= article.created_at.strftime("%d %B %Y") %> under <i class="fa fa-globe"></i> <%= article.category.name %></small></p>
        <p><%= image_tag article.default_picture_url(:headline), class: "img-responsive" %></p>
        <p><%= simple_format article.content.split[0..42].join(" ") %></p>
        <p><%= link_to "read more", article_path(article), class: "btn btn-primary btn-sm" %></p>
      </div>
      <hr>
    <% end %>
  </div>
  <div class="col">
    <div class="calendar_activity">
      <p class="lead">This <%= Time.now.strftime("%B") %> Activities</p>
      <ul class="list-group">
        <% @activities_this_month.each do |activity| %>
        <li class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= activity.title %></h5>
            <small><%= "<span class='badge badge-success'>Happening Now</span>".html_safe if (activity.start_time.to_i..activity.end_time.to_i) === Time.now.to_i  %></small>
          </div>
          <small class="text-secondary"><%= activity.start_time.strftime("%d %b %Y %I:%M %p") %> - <%= activity.end_time.strftime("%d %b %Y %I:%M %p") %></small>
          <p class="mb-1"><%= simple_format activity.description %></p>
        </li>
        <% end %>
      </ul>
      <small class="form-text text-muted">See our full schedule of activities <%= link_to "here", activities_path %></small>
    </div>
    <hr>
    <div class="side_category">
      <p class="lead">Categories</p>
      <ul class="list-group">
        <% Category.all.each do |c| %>
          <%= link_to category_path(sort: c.slug), data: { turbolinks: false }, class: "list-group-item list-group-item-action" do %>
          <%= c.name %> <span class="badge badge-secondary float-right" style="margin-top:3px;"><%= c.articles.count %></span>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
