<% content_for :title do %>
  KLDX | <%= @article.title %>
<% end %>

<% content_for :meta_tags do %>
  <%= render :partial => 'application/meta_tags',
             :locals => {
               :type => "article",
               :title => "KLDX | #{@article.title}",
               :url => request.url,
               :description => "#{truncate(strip_tags(@article.content), length: 100)}",
               :canonical => request.url,
               :og_title => "KLDX | #{@article.title}",
               :og_description => "#{truncate(strip_tags(@article.content), length: 100)}",
               :og_image => "#{@article.default_picture_url(:header)}",
               :article_author => "https://www.facebook.com/kldxteam"
            } %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <h2 class="card-title"><%= @article.title %></h2>
    <p><small class="text-muted">Submitted by <i class="fa fa-user-circle"></i> <%= @article.user.callsign.upcase %> on <i class="fa fa-calendar"></i> <%= @article.created_at.strftime("%d %B %Y") %> under <i class="fa fa-globe"></i> <%= @article.category.name %></small></p>
    <%= image_tag @article.default_picture_url(:header), class: "img-fluid" %>

    <p><%= raw @article.content %></p>

    <%= link_to "Back", :back, class: "btn btn-outline-primary btn-sm", data: { turbolinks: false } %>
  </div>
  <div class="col">
    <div class="counter">
      <div class="card border-light">
        <div class="card-header text-white bg-primary mb-3">
          Page View
        </div>
        <div class="card-body">
          <h3><%= @article.page_view %></h3>
        </div>
      </div>
    </div>
    <hr>
    <div class="calendar_activity">
      <p class="lead">This <%= Time.now.strftime("%B") %> Activities</p>
      <ul class="list-group">
        <% @activities_this_month.each do |activity| %>
        <li class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= activity.title %></h5>
            <small><%= "<span class='badge badge-success'>Happening Now</span>".html_safe if (activity.start_time.to_i..activity.end_time.to_i) === Time.now.to_i  %></small>
          </div>
          <small class="text-secondary"><%= activity.start_time.strftime("%d %b %Y %I:%M %p") %> - <%= activity.end_time.strftime("%d %b %Y %I:%M %p") %></small>
          <p class="mb-1"><%= simple_format activity.description %></p>
        </li>
        <% end %>
      </ul>
      <small class="form-text text-muted">See our full schedule of activities <%= link_to "here", activities_path %></small>
    </div>
    <hr>
    <div class="facebook-page">
      <div class="fb-page" data-href="https://www.facebook.com/kldxteam/" data-width="340" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/kldxteam/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/kldxteam/">Kuala Lumpur DX Team - KLDX</a></blockquote></div>
    </div>
    <hr>
    <div class="side_category">
      <p class="lead">Categories</p>
      <ul class="list-group">
        <% Category.all.each do |c| %>
          <%= link_to category_path(sort: c.slug), data: { turbolinks: false }, class: "list-group-item list-group-item-action" do %>
          <%= c.name %> <span class="badge badge-secondary float-right" style="margin-top:3px;"><%= c.articles.count %></span>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
