<center>
  <h2>Current Shipping Status</h2>
  <p class="lead"><%= @shipping.status.upcase %></p>
</center>
<hr>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-secondary <%= 'progress-bar-animated' if @shipping.preparation? %>" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    Preparation
  </div>
  <div class="progress-bar progress-bar-striped bg-warning <%= 'progress-bar-animated' if @shipping.ready_to_ship? %>" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    Ready to Ship
  </div>
  <div class="progress-bar progress-bar-striped bg-success <%= 'progress-bar-animated' if @shipping.shipped? %>" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    Shipped
  </div>
  <div class="progress-bar progress-bar-striped bg-primary <%= 'progress-bar-animated' if @shipping.delivered? %>" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    Delivered
  </div>
</div>
<hr>
<h4>Shipment Details</h4>
<br/>
<p><strong>Order Bill ID: </strong><%= @order.bill_id %></p>
<p><strong>Shipping Courier: </strong><%= @shipping.set_shipping_type %></p>
<% if @shipping.preparation? %>
  <p><strong>Preparation Date: </strong><%= @shipping.prepare_at.strftime("%d %B %Y") %></p>
<% elsif @shipping.ready_to_ship? %>
  <p><strong>Shipping Ready to Ship Date: </strong><%= @shipping.ready_at.strftime("%d %B %Y") %></p>
<% elsif @shipping.shipped? %>
  <p><strong>Shipped Date: </strong><%= @shipping.shipped.strftime("%d %B %Y") %></p>
<% elsif @shipping.delivered? %>
  <p><strong>Delivered Date: </strong><%= @shipping.delivered.strftime("%d %B %Y") %></p>
<% end %>
<p><strong>Tracking Number: </strong><%= @shipping.set_tracking_number %></p>
<p><strong>Note: </strong><%= @shipping.set_note %></p>
<hr>
<%= link_to "Back to Manage Orders", dashboard_orders_path, class: "btn btn-outline-primary" %>
