<% index = order_counter + 0 %>
<tr>
  <td style="width:5%"><%= index+1 %></td>
  <td><%= order.item.name %></td>
  <td style="width:10%"><%= order.quantity %></td>
  <td style="width:10%"><%= number_to_currency(order.item.exact_price, unit: "RM") %></td>
  <td style="width:10%"><%= number_to_currency(order.price, unit: "RM") %></td>
  <td style="width:10%"><%= order.status %></td>
  <td style="width:5%"><%= link_to "View", review_dashboard_order_path(order), class: "btn btn-primary btn-sm" %></td>
</tr>
