<% index = order_counter + 0 %>
<tr>
  <td style="width:5%"><%= index+1 %></td>
  <td>
    <small class="text-primary">[Bill ID: <%= order.bill_id %>]</small> <%= order.item.name %><br>
    <small>Shipping Status: <%= order.shipping.status.titleize.split(/ |\_|\-/).map(&:capitalize).join(" ") if order.shipping.present? %></small>
  </td>
  <td style="width:10%"><%= order.quantity %></td>
  <td style="width:10%"><%= number_to_currency(order.item.exact_price, unit: "RM") %></td>
  <td style="width:10%"><%= number_to_currency(order.price, unit: "RM") %></td>
  <td style="width:10%"><%= check_order_status order %></td>
  <td style="width:5%">
    <div class="btn-group btn-group-sm">
      <% if order.pending_payment? %>
        <%= link_to Settings.billplz.url+"/bills/#{order.bill_id}", target: "_blank", class: "btn btn-primary #{"disabled" if order.user.profile.no_address}" do %>
        <i class="fa fa-credit-card"></i> Pay Now
        <%= link_to "View", review_dashboard_order_path(order), class: "btn btn-success" %>
        <% end %>
      <% else %>
        <%= link_to "Download Invoice", dashboard_order_invoices_path(order, :format => "pdf"), target: "_blank", class: "btn btn-outline-success" %>
        <%= link_to "Shipping Status", dashboard_order_shippings_path(order), class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
  </td>
</tr>
