<h3>Hello <%= @order.user.callsign.upcase %>,</h3>
<p>Thank you for your order. Here is the detail for your reference:</p>
<p>
  <strong>Item Name:</strong> <%= @order.item.name %><br>
  <strong>Quantity:</strong> <%= @order.quantity %><br>
  <strong>Price:</strong> <%= number_to_currency(@order.price, unit: "RM") %><br>
  <strong>Status:</strong> <%= @order.status %>
</p>
<p>
  <strong>Customer Name:</strong> <%= @order.user.profile.fullname %><br>
  <strong>Phone Number:</strong> <%= @order.user.profile.phone_number %><br>
  <strong>Shipping Address:</strong> <%= @order.user.profile.shipping_address %>
</p>
<% if @order.pending_payment? && @order.user.profile.present? %>
<p>
  <%= link_to "Pay Now", Settings.billplz.url+"/bills/#{@order.bill_id}", target: "_blank" %>
</p>
<% end %>
