<div class="row">
  <div class="col"></div>
  <div class="col-md-4">
    <center><h2>Forgot password</h2></center>
    <hr>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :callsign %>
        <%= f.text_field :callsign, class: "form-control", autofocus: true %>
      </div>

      <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-block" %>
    <% end %>
    <hr>
    <p class="small">Already have an account? Login <%= link_to "here", login_path %></p>
  </div>
  <div class="col"></div>
</div>
