<% index = order_counter + 0 %>
<tr>
  <td style="width:5%"><%= index+1 %></td>
  <td><%= order.item.name %></td>
  <td style="width:10%"><%= order.quantity %></td>
  <td style="width:10%"><%= number_to_currency(order.item.exact_price, unit: "RM") %></td>
  <td style="width:10%"><%= number_to_currency(order.price, unit: "RM") %></td>
  <td style="width:10%"><%= check_order_status order %></td>
  <td style="width:10%"><%= order.user.callsign.upcase %></td>
</tr>
