<div class="masthead">
  <h1 class="text-muted brand">Kuala Lumpur DX Team</h1>

  <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav text-md-center nav-justified w-100">
        <li class="nav-item active">
          <%= link_to root_path, class: "nav-link" do %>
            <i class="fa fa-home"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Crew</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shop</a>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.callsign.upcase %></a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <%= link_to "Manage Category", admin_categories_path, class: "dropdown-item" %>
            <%= link_to "Manage Article", admin_articles_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to destroy_user_session_path, method: "delete", class: "dropdown-item text-danger" do %>
              <i class="fa fa-sign-out"></i> Logout
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>

</div>
