<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Admin Dashboard | KLDX</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= yield :meta_tags %>
  </head>

  <body>
    <div class="container">
      <%= render "header" %>
      <%= render 'alert' %>
      <%= yield %>
      <%= render "footer" %>
    </div>
  </body>
</html>
